.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}
.footer-title{
    font-size: 25px;
}
.CardBody{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
